.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#edit-container {
  background-color: white;
  width: 30%;
  margin: 10px auto;
  border: 1px solid black;
}

h3 {
  font-family: monospace;
  color: white;
  text-align: start;
  background-color: blue;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0;
}

#editor {
  outline: none;
  width: 99%;
  resize: vertical;
  min-height: 300px;
  padding: 0;
  margin: 0;
}

#preview-container {
  width: 80%;
  color: black;
  background-color: rgb(180, 180, 180);
  border: 1px solid black;
  min-height: 500px;
  margin: 20px auto;
  word-break: break-word;
}

#preview {
  text-align: start;
  padding: 0 10px;
  word-break: break-word;
}

#name {
  font-size: 20px;
  padding: 0;
  margin: 0 0 30px 0 ;
}